In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 40 kB/s
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 54.8 MB/s
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 53.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845514 sha256=d0150f34d186382887b05f9b8fc447b6072f996974db28b16fa84e53d83cdf55
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('date').getOrCreate()

In [6]:
df = spark.read.csv("/content/drive/MyDrive/SparkWork/SparkDoc/aapl.csv", inferSchema = True, header = True)

In [7]:
df.show()

+-------------------+------+------+------+------+--------+---------+
|               Date|  Open|  High|   Low| Close|  Volume|Adj Close|
+-------------------+------+------+------+------+--------+---------+
|2008-10-14 00:00:00|116.26| 116.4|103.14|104.08|70749800|   104.08|
|2008-10-13 00:00:00|104.55|110.53|101.02|110.26|54967000|   110.26|
|2008-10-10 00:00:00|  85.7| 100.0|  85.0|  96.8|79260700|     96.8|
|2008-10-09 00:00:00| 93.35|  95.8|  86.6| 88.74|57763700|    88.74|
|2008-10-08 00:00:00| 85.91| 96.33| 85.68| 89.79|78847900|    89.79|
|2008-10-07 00:00:00|100.48| 101.5| 88.95| 89.16|67099000|    89.16|
|2008-10-06 00:00:00| 91.96| 98.78| 87.54| 98.14|75264900|    98.14|
|2008-10-03 00:00:00| 104.0| 106.5| 94.65| 97.07|81942800|    97.07|
|2008-10-02 00:00:00|108.01|108.79| 100.0| 100.1|57477300|    100.1|
|2008-10-01 00:00:00|111.92|112.36|107.39|109.12|46303000|   109.12|
|2008-09-30 00:00:00|108.25| 115.0| 106.3|113.66|58095800|   113.66|
|2008-09-29 00:00:00|119.62|119.68|100.59|105.26|93581400|   105.26|
|2008-09-26 00:00:00|124.91| 129.8| 123.0|128.24|40208700|   128.24|
|2008-09-25 00:00:00| 129.8|134.79|128.52|131.93|35865600|   131.93|
|2008-09-24 00:00:00|127.27|130.95|125.15|128.71|37393400|   128.71|
|2008-09-23 00:00:00|131.85| 135.8|126.66|126.84|45727300|   126.84|
|2008-09-22 00:00:00|139.94|140.25|130.66|131.05|30577300|   131.05|
|2008-09-19 00:00:00| 142.6| 144.2|136.31|140.91|51102700|   140.91|
|2008-09-18 00:00:00|130.57|135.43|120.68|134.09|59819300|   134.09|
|2008-09-17 00:00:00|138.49|138.51|127.83|127.83|42847200|   127.83|
+-------------------+------+------+------+------+--------+---------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [9]:
df.describe().show()

+-------+-----------------+------------------+-----------------+------------------+--------------------+------------------+
|summary|             Open|              High|              Low|             Close|              Volume|         Adj Close|
+-------+-----------------+------------------+-----------------+------------------+--------------------+------------------+
|  count|             6081|              6081|             6081|              6081|                6081|              6081|
|   mean|46.82351093570132|47.681506331195564|45.91359480348622|46.798618648248734|  1.36398640684098E7|23.529794441703633|
| stddev|33.99351710867853|34.578077150719686|33.27310568082934| 33.94723505279488|1.3521074474193025E7| 37.37560090267473|
|    min|            12.88|             13.19|            12.72|             12.94|               88800|              1.65|
|    max|           200.59|            202.96|            197.8|            199.83|           265069000|            199.83|
+-------+-----------------+------------------+-----------------+------------------+--------------------+------------------+

In [10]:
df.select(['date', 'open']).show()

+-------------------+------+
|               date|  open|
+-------------------+------+
|2008-10-14 00:00:00|116.26|
|2008-10-13 00:00:00|104.55|
|2008-10-10 00:00:00|  85.7|
|2008-10-09 00:00:00| 93.35|
|2008-10-08 00:00:00| 85.91|
|2008-10-07 00:00:00|100.48|
|2008-10-06 00:00:00| 91.96|
|2008-10-03 00:00:00| 104.0|
|2008-10-02 00:00:00|108.01|
|2008-10-01 00:00:00|111.92|
|2008-09-30 00:00:00|108.25|
|2008-09-29 00:00:00|119.62|
|2008-09-26 00:00:00|124.91|
|2008-09-25 00:00:00| 129.8|
|2008-09-24 00:00:00|127.27|
|2008-09-23 00:00:00|131.85|
|2008-09-22 00:00:00|139.94|
|2008-09-19 00:00:00| 142.6|
|2008-09-18 00:00:00|130.57|
|2008-09-17 00:00:00|138.49|
+-------------------+------+
only showing top 20 rows

How to extract data from these dates

In [11]:
# we need to import some essential functions from pysparspark
from pyspark.sql.functions import dayofmonth, hour, dayofyear, month, year, weekofyear, format_number, date_format

In [13]:
df.select(dayofmonth(df['date'])).show()

+----------+
|hour(date)|
+----------+
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
+----------+
only showing top 20 rows

Checking when the day began

In [14]:
df.select(hour(df['date'])).show()

+----------+
|hour(date)|
+----------+
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
+----------+
only showing top 20 rows

In [15]:
df.select(month(df['date'])).show()

+-----------+
|month(date)|
+-----------+
|         10|
|         10|
|         10|
|         10|
|         10|
|         10|
|         10|
|         10|
|         10|
|         10|
|          9|
|          9|
|          9|
|          9|
|          9|
|          9|
|          9|
|          9|
|          9|
|          9|
+-----------+
only showing top 20 rows

# ***Lets find average close per year***

In [16]:
df.select(year(df['date'])).show()

+----------+
|year(date)|
+----------+
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
|      2008|
+----------+
only showing top 20 rows

In [17]:
df.withColumn("Year", year(df['date'])).show()

+-------------------+------+------+------+------+--------+---------+----+
|               Date|  Open|  High|   Low| Close|  Volume|Adj Close|Year|
+-------------------+------+------+------+------+--------+---------+----+
|2008-10-14 00:00:00|116.26| 116.4|103.14|104.08|70749800|   104.08|2008|
|2008-10-13 00:00:00|104.55|110.53|101.02|110.26|54967000|   110.26|2008|
|2008-10-10 00:00:00|  85.7| 100.0|  85.0|  96.8|79260700|     96.8|2008|
|2008-10-09 00:00:00| 93.35|  95.8|  86.6| 88.74|57763700|    88.74|2008|
|2008-10-08 00:00:00| 85.91| 96.33| 85.68| 89.79|78847900|    89.79|2008|
|2008-10-07 00:00:00|100.48| 101.5| 88.95| 89.16|67099000|    89.16|2008|
|2008-10-06 00:00:00| 91.96| 98.78| 87.54| 98.14|75264900|    98.14|2008|
|2008-10-03 00:00:00| 104.0| 106.5| 94.65| 97.07|81942800|    97.07|2008|
|2008-10-02 00:00:00|108.01|108.79| 100.0| 100.1|57477300|    100.1|2008|
|2008-10-01 00:00:00|111.92|112.36|107.39|109.12|46303000|   109.12|2008|
|2008-09-30 00:00:00|108.25| 115.0| 106.3|113.66|58095800|   113.66|2008|
|2008-09-29 00:00:00|119.62|119.68|100.59|105.26|93581400|   105.26|2008|
|2008-09-26 00:00:00|124.91| 129.8| 123.0|128.24|40208700|   128.24|2008|
|2008-09-25 00:00:00| 129.8|134.79|128.52|131.93|35865600|   131.93|2008|
|2008-09-24 00:00:00|127.27|130.95|125.15|128.71|37393400|   128.71|2008|
|2008-09-23 00:00:00|131.85| 135.8|126.66|126.84|45727300|   126.84|2008|
|2008-09-22 00:00:00|139.94|140.25|130.66|131.05|30577300|   131.05|2008|
|2008-09-19 00:00:00| 142.6| 144.2|136.31|140.91|51102700|   140.91|2008|
|2008-09-18 00:00:00|130.57|135.43|120.68|134.09|59819300|   134.09|2008|
|2008-09-17 00:00:00|138.49|138.51|127.83|127.83|42847200|   127.83|2008|
+-------------------+------+------+------+------+--------+---------+----+
only showing top 20 rows

In [18]:
new_df = df.withColumn("Year", year(df['date']))

In [19]:
new_df.groupBy("Year").mean().show()

+----+------------------+------------------+------------------+------------------+--------------------+------------------+---------+
|Year|         avg(Open)|         avg(High)|          avg(Low)|        avg(Close)|         avg(Volume)|    avg(Adj Close)|avg(Year)|
+----+------------------+------------------+------------------+------------------+--------------------+------------------+---------+
|1990|37.502213438735176|  38.2196442687747| 36.81739130434783| 37.56268774703557|   6279179.446640316|  8.82612648221344|   1990.0|
|2003|  18.5217857142857|18.843492063492068|18.206984126984135|18.544761904761902|1.0094990476190476E7| 9.272619047619042|   2003.0|
|2007| 128.3890836653386| 130.0704780876495|126.18450199203185| 128.2739043824701| 3.514247091633466E7| 128.2739043824701|   2007.0|
|2006| 70.99749003984067| 71.93912350597606|  69.8103585657371| 70.81063745019918| 3.069114501992032E7| 70.81063745019918|   2006.0|
|1997| 18.03110671936756| 18.35889328063239|  17.6283794466403|17.965849802371523|1.0169786561264822E7|4.4918181818181795|   1997.0|
|1988|41.556047430830034| 42.18675889328062| 40.89075098814229| 41.54007905138338|    5835340.71146245| 9.564703557312257|   1988.0|
|1994| 34.05317460317461| 34.71222222222222| 33.41369047619048| 34.08134920634923|   8111220.634920635| 8.369880952380957|   1994.0|
|2004|35.421468253968264| 36.02944444444442| 34.92464285714286|35.526944444444446| 1.726214126984127E7|17.763888888888896|   2004.0|
|1991|52.451699604743084|53.425612648221346| 51.50707509881423| 52.49553359683792|   8107147.826086956|12.469169960474307|   1991.0|
|1996|25.045275590551135|25.419330708661377|24.502244094488148|24.917559055118087|     7490203.1496063| 6.229881889763783|   1996.0|
|1989| 41.61515873015872| 42.30047619047617| 40.97896825396824| 41.65976190476188|   7225147.619047619| 9.684563492063479|   1989.0|
|1998|30.512023809523786|31.265952380952378|29.776309523809516| 30.56511904761903|1.6336884126984127E7| 7.641666666666662|   1998.0|
|1985|20.377430830039504|20.593280632411044|20.127509881422903| 20.19367588932804|   6444913.833992095|2.3041501976284584|   1985.0|
|1987| 53.82284584980234| 55.03679841897232|52.695177865612585| 53.88968379446637|    8442069.56521739|  8.90608695652174|   1987.0|
|1995| 40.62539682539678| 41.26940476190472| 39.91043650793649| 40.54210317460315|1.0536515873015873E7|10.075198412698416|   1995.0|
|2001|20.165080645161304| 20.76608870967741|19.622298387096784|20.219112903225806|1.3632745967741935E7| 10.10975806451613|   2001.0|
|1992|54.803700787401574|55.602086614173224|  53.9651968503937| 54.80338582677165|   5795218.897637796|13.130669291338602|   1992.0|
|2005| 52.34968253968254| 53.11123015873012| 51.58821428571428|   52.401746031746| 2.585048015873016E7| 46.67595238095238|   2005.0|
|1984|25.802124999999972|26.094374999999978|25.505249999999972|25.578624999999967|           5617890.0| 2.918624999999999|   1984.0|
|2000| 71.86357142857143| 74.19123015873016| 69.60936507936512| 71.74892857142858| 1.705786746031746E7| 22.85623015873016|   2000.0|
+----+------------------+------------------+------------------+------------------+--------------------+------------------+---------+
only showing top 20 rows

In [39]:
result = new_df.groupBy("Year").mean().select(["Year", "avg(close)"]).sort('year')

In [40]:
result.show(26)

+----+------------------+
|Year|        avg(close)|
+----+------------------+
|1984|25.578624999999967|
|1985| 20.19367588932804|
|1986|32.461027667984204|
|1987| 53.88968379446637|
|1988| 41.54007905138338|
|1989| 41.65976190476188|
|1990| 37.56268774703557|
|1991| 52.49553359683792|
|1992| 54.80338582677165|
|1993| 41.02671936758891|
|1994| 34.08134920634923|
|1995| 40.54210317460315|
|1996|24.917559055118087|
|1997|17.965849802371523|
|1998| 30.56511904761903|
|1999| 57.77071428571419|
|2000| 71.74892857142858|
|2001|20.219112903225806|
|2002|19.139444444444432|
|2003|18.544761904761902|
|2004|35.526944444444446|
|2005|   52.401746031746|
|2006| 70.81063745019918|
|2007| 128.2739043824701|
|2008|154.91472361809042|
+----+------------------+

In [41]:
new = result.withColumnRenamed("avg(close)", "Average closing price")

In [42]:
new.show()

+----+---------------------+
|Year|Average closing price|
+----+---------------------+
|1984|   25.578624999999967|
|1985|    20.19367588932804|
|1986|   32.461027667984204|
|1987|    53.88968379446637|
|1988|    41.54007905138338|
|1989|    41.65976190476188|
|1990|    37.56268774703557|
|1991|    52.49553359683792|
|1992|    54.80338582677165|
|1993|    41.02671936758891|
|1994|    34.08134920634923|
|1995|    40.54210317460315|
|1996|   24.917559055118087|
|1997|   17.965849802371523|
|1998|    30.56511904761903|
|1999|    57.77071428571419|
|2000|    71.74892857142858|
|2001|   20.219112903225806|
|2002|   19.139444444444432|
|2003|   18.544761904761902|
+----+---------------------+
only showing top 20 rows

In [44]:
new.select(['year',format_number('Average closing price', 2).alias('Average Close')]).show()

+----+-------------+
|year|Average Close|
+----+-------------+
|1984|        25.58|
|1985|        20.19|
|1986|        32.46|
|1987|        53.89|
|1988|        41.54|
|1989|        41.66|
|1990|        37.56|
|1991|        52.50|
|1992|        54.80|
|1993|        41.03|
|1994|        34.08|
|1995|        40.54|
|1996|        24.92|
|1997|        17.97|
|1998|        30.57|
|1999|        57.77|
|2000|        71.75|
|2001|        20.22|
|2002|        19.14|
|2003|        18.54|
+----+-------------+
only showing top 20 rows